/* https://mycolor.space/?hex=%230071E3&sub=1 */
.c0 { background-color: #0071E3; }

/* general gradient */
.g1 { background-color: #C068D6; }
.g2 { background-color: #FF6AAD; }
.g3 { background-color: #FF8E7E; }
.g4 { background-color: #FFC460; }
.g5 { background-color: #F9F871; }

/* metching gradient */

/* spot palette */
.s1 { background-color: #98A6DC; }
.s2 { background-color: #E8EFFF; }
.s3 { background-color: #C2A875; }

/* twisted spot palette */
.ts1 { background-color: #C2A875; }
.ts2 { background-color: #FFEECA; }
.ts3 { background-color: #867555; }

/* classy palette */
.cy1 { background-color: #434656; }
.cy2 { background-color: #A7AABC; }
.cy3 { background-color: #D7315A; }
.cy4 { background-color: #FF6E8C; }

/* cube palette */
.cb1 { background-color: #4B8481; }
.cb2 { background-color: #EEE8A9; }

