doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title
      | Forced Evolution
    script
      | var data = { active: 1 };
      | var module = { exports : {} };
    include partials/css.pug
    include partials/scripts.pug
  body
    div.main
      include partials/mode.pug
      include partials/help.pug
      include partials/strip.pug
      include partials/search.pug
      div.window.layout.half.group

