<section class="frame card" nav="1">
  <meta include="docs/index.html">
</section>

<section class="frame card" nav="2">
  <meta include="docs/tools.story-types.html">
</section>

<section class="frame card" nav="3">
  <meta include="docs/dev-tools.html">
</section>        

<section class="frame card" nav="4">
  <meta include="docs/q1.html">
</section>

<section class="frame card" nav="5">
  <meta include="docs/tools.characters.html">
</section>

<section class="frame card" nav="6">
  <meta include="docs/recent.html">
</section>

<section class="frame card" nav="7">
  <meta include="docs/favorites.html">
</section>
