script(src="/js/lib/axios.min.js")
script(src="/js/lib/voca.js")
script(src="/js/lib/keyboard.min.js")

script(src="/js/geom.js")
script(src="/js/hot-reload.js")
script(src="/js/data-load.js")
script(src="/js/main.js")
script(src="/js/data.js")
