script(src="/js/axios.min.js")
script(src="/js/voca.js")
script(src="/js/keyboard.min.js")
script(src="/js/hot-reload.js")
script(src="/js/data-load.js")
script(src="/js/main.js")
script(src="/js/data.js")
